@import 
url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter';
}
.home,
.interests,

.contact {
  font-size: 3rem;
  display: flex;
  justify-content: start;
  align-items: center;
}
